<h2> Welcome back to Our School, <%= @profile.first_name unless !@profile %>!</h2>

<% if @student.nil? %>
<h3> Sorry, your have no pair today (<%= Time.current.to_date %>), all students are already assigned!</h3>
<% else %>
<h3> Your pair today (<%= Time.current.to_date %>) is: <%= @student.first_name %></h3>
<% end %>
<br>

<div class="panel panel-success">
  <div class="panel-heading">
    Unassigned students today
  </div>
  <div class="panel-body">
      <% if @profiles && @profiles.length > 0 %>
        <ul>
        <% @profiles.each do |profile| %>
          <% if profile.id != @student.id %>
            <li>
              <%= profile.first_name %> <%= profile.last_name %>
            </li>
          <% end %>
        <% end %>
        </ul>
      <% else %>
        No unassigned students to display
      <% end %>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    Past pairs
  </div>
  <div class="panel-body">
    <% if @past_pairs && @past_pairs.length > 0 %>
      <table class="table table-striped">
        <tr>
          <th>Pair Name</th>
          <th>Pair At</th>
        </tr>
        <% @past_pairs.each do |past_pair| %>
          <tr>
            <td>
              <%= past_pair.name %>
            </td>
            <td>
              <%= past_pair.pair_at.to_date %>
            </td>
          </tr>
        <% end %>
      </table>
    <% else %>
    <% end %>
  </div>
</div>
